:root {
  --color-fill-base-50: #f6f7f6;
  --color-fill-base-100: #e3e4e3;
  --color-fill-base-200: #c6c9c6;
  --color-fill-base-300: #a2a7a1;
  --color-fill-base-400: #7e847d;
  --color-fill-base-500: #636963;
  --color-fill-base-600: #4e534e;
  --color-fill-base-700: #414540;
  --color-fill-base-800: #363936;
  --color-fill-base-900: #272927;
  --color-fill-base-950: #191b19;

  --color-primary-50: #f0faff;
  --color-primary-100: #e1f4fd;
  --color-primary-200: #bce9fb;
  --color-primary-300: #81d9f8;
  --color-primary-400: #3dc6f3;
  --color-primary-500: #14afe3;
  --color-primary-600: #0784b5;
  --color-primary-700: #07719d;
  --color-primary-800: #0b5f81;
  --color-primary-900: #0f4e6b;
  --color-primary-950: #0a3347;

  --color-text: var(--color-fill-base-50);
  --color-text-variant: var(--color-fill-base-300);
  --color-background: var(--color-fill-base-950);
  --color-outline: var(--color-fill-base-50);

  --color-surface: var(--color-fill-base-900);
  --color-surface-hover: var(--color-fill-base-800);
  --color-surface-outline: var(--color-fill-base-600);

  --color-surface-variant: var(--color-fill-base-600);
  --color-surface-variant-outline: var(--color-fill-base-500);

  --color-primary: var(--color-primary-400);
  --color-primary-hover: var(--color-primary-500);

  --color-scrollbar: var(--color-fill-base-600);
  --color-scrollbar-hover: var(--color-fill-base-400);

  --color-code-background: var(--color-fill-base-950);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

a {
  color: var(--color-text);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}